@font-face {
  font-family: "SF Pro Text";
  src:
          url('../../fonts/SFProText/SFProText-Light.ttf') format("ttf"),
          url('../../fonts/SFProText/SFProText-Bold.ttf') format("ttf")
}

.weatherDetails {
  font-family: 'SF Pro Text', sans-serif;
  color: rgba(217, 253, 255, 0.95);
  padding: 0 16px;
  height: 844px;
}
.weatherBox{
  padding-bottom: 10px;
}