.modal_list{
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap:10px;
  overflow-x: auto;
}
.modal_list ::-webkit-scrollbar {
  display: none;
}
.modal_item{
  gap:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(138, 31, 232, 0.95);
  background: var(--Weather-Color-Linear-2, linear-gradient(90deg, rgba(89, 54, 180, 0.59) 0%, rgba(54, 42, 132, 0.56) 103.55%));
  border-radius: 40px;
  height: 146px;
  width: 50px;
  font-size: 13px;
}
.modal_item img{
  width: 45px;
  height: 45px;
  margin: 0 10px;
}