
.search{
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
  background:#1F1D47;
  height: 28px;
  align-items: center;
  gap: 5px;
  padding: 0 16px;
}
input{
  width: calc(100% - 30px);
  font-size: 14px;
  background:#1F1D47;
  border: none;
  color: #fff;
}
 input :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}